rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Store settings & branding
    match /settings/{settingId} {
      allow read: if true;
      allow write: if true;
    }
    
    // Users profile and address collection
    match /users/{userId} {
      allow read: if true;
      allow write: if true;
    }
    
    // Products collection
    match /products/{productId} {
      allow read: if true;
      allow write: if true;
    }

    // Categories collection
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if true;
    }

    // Orders collection
    match /orders/{orderId} {
      allow read: if true;
      allow write: if true;
    }

    // Hero Banners collection
    match /banners/{bannerId} {
      allow read: if true;
      allow write: if true;
    }

    // Discount Coupons collection
    match /coupons/{couponId} {
      allow read: if true;
      allow write: if true;
    }

    // Product Customer Reviews collection
    match /reviews/{reviewId} {
      allow read: if true;
      allow write: if true;
    }

    // Connection test document
    match /test/{docId} {
      allow read, write: if true;
    }
  }
}
